* {
  box-sizing: border-box;
}

body {
  font-family: EB Garamond;
  padding: 10px;
  background: #f1f1f1;
}

h1{ text-align: center;
    font-weight: 700; 
}

h2{ text-align: center;
    font-weight: 615; 
}

h3 {text-align: center;
    font-weight: 600;
    }

h4 {text-align: center;
    font-weight: 500;
    }

h5{text-align: center;
   font-weight: 400;
   }
/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #BF2431;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #DAD0A9;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color:#f1f1f1 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
}

/* Change color on hover */
.topnav a:hover {
  background-color:#DAD0A9;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 25%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
.middlecolumn {
  float: left;
  width: 50%;
  background-color: #f1f1f1;
  padding-left: 20px;

}

.columnl {
  float: left;
  width: 75%;
  background-color: #f1f1f1;
  padding-left: 20px;

}


/* Fake image */
.fakeimg {
  background-color: lightblue;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;

}
.image-card {
  height: 500px;
  width: 100%;
  padding: 20px;
  background-image: url("../img/uk.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tb {height: 200px;
  width: 100%;
  padding: 20px;
  background-image: url("../img/LB.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;}

.money {
  height: 200px;
  width: 100%;
  padding: 20px;
  background-image: url("../img/money.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.Heathrowimg{   
  height: 500px;
  width: 100%;
  padding: 20px;
  background-image: url("../img/Heathrow.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

 }

.Edinburgh {   
  height: 400px;
  width: 100%;
  padding: 20px;
  background-image: url("../img/edinburgh.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

 }




/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.boxes {
  content: "";
  width: 250px;
  height: 250px;
  padding: 20px;
  background-color: white;
  margin: 2%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
.boxes:before {
    position: absolute;
    z-index: 2;

}
.text-boxes {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;

}
.popular-images { 
  display: inline;
  float: left;
  

 

}
.popular-textboxes { 
  display: inline;
  float: left;
  width: 100px;
  height: 50px;


}

button { 
    width: 70px;
    height: 20px;
	  background-color: lightblue;
    text-align: center;
    text-decoration: none;
    position: relative;
    border: none;
 }
 button:hover {
   background-color: #3268a8;

 }
 button> a {
  color: black;
  text-decoration: none;

 }
 button:hover > a{
  color: white;
 }


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #B2B2F7;
  margin-top: 20px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn, .middlecolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

